
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(17, 17, 17);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: left;
    justify-content: center;

}

header {
    position: relative;
    width: 100%;
    height: 100%; 
    background: rgb(20, 20, 19);
    border-radius: 0px;
    overflow: hidden;
    margin-top: 0px;
    box-shadow: 0px 10px 25px -px rgb(26, 25, 25);
}

header::before {
    content: '';
    position: absolute;
    background:rgb(54, 56, 56);
    opacity: .9;
    z-index: -1;
} 

 header nav {
    position: absolute;
    background: rgb(29, 55, 55);
    width: 100%;
    height: 10%;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    

}
 header nav .logo_ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
 header nav .logo_ul img {
    width: 90px;
}
header nav .logo_ul h2 {
    color: white;
    font-weight: lighter;
}

header nav .logo_ul ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
header nav .logo_ul ul li {
    padding: 3px 15px;
}

header nav .logo_ul ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: lighter;
    transition: .3s linear;

}
header nav .logo_ul ul li a:hover {
    color: rgb(255, 255, 255, .7);
}

header nav .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 40px;
    border-radius: 0px;
    overflow: hidden;
    margin-right: 30%;
  }
  
header nav .search-input {
    flex: 1;
    border: none;
    padding: 8px;
    outline: none;
    background: rgb(181, 171, 171);
  }
  
header nav .search-button {
    background: rgb(203, 184, 184);
    height: 31.5px;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .search-button svg {
    width: 18px;
    height: 18px;
    stroke: #171515;
  }

header nav .sign_in{
    display: flex;
    align-items: right;
    justify-content: center;
    background: rgb(203, 184, 184);
    border-radius: 0px;
    overflow: hidden;

}
header nav .sign_input {
    display: flex;
    border: none;
    padding: 5px;
    outline: none;
    background: rgb(203, 184, 184);
    margin-right: 0%;
    width: 60px;
    height: 31.5px;
    border-radius: 5px;
    justify-content: center;

  }

@keyframes slide{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
} 
.logos {
overflow: hidden;
padding: 80px 0px;
white-space: nowrap;
position: relative;
margin-left: 80px;
} 

.logos:hover .logos-slide{
    animation-play-state: paused;
}
.logos-slide{
    display: inline-block;
    animation: 15s slide infinite linear;
}


.logos-slide img{
    height: 50px;
    margin: 0px 3px;
    border-radius: 10px;    
}  
.description{
    color: white;
    margin-top: -40px;
    padding: 0px 80px;
}
.description h2 {
    font-weight: lighter;
}  

.description p {
    margin-top: 20px;
}  

.detail-list ul{
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    margin-left: 65px;
    margin-top: 30px;
}
.detail-list ul li {
    padding: 3px 15px;
}

.detail-list ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
    transition: .3s linear;

}

.additional-item {
    background: rgb(30, 30, 30);
    width: 100%;
    height: 8%;
    display: flex;
    margin-top: 0px;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}
.additional-item .newly-added {
    display: flex;
    border: none;
    padding: 5px;
    outline: none;
    background: rgb(188, 181, 181);
    color: white;
    margin-right: 0%;
    width: 100px;
    height: 31.5px;
    border-radius: 5px;
    justify-content: center;

  }

.additional-item h2{
    color: #fff;
    font-size: 20px;
    font-weight: lighter;
    margin-right: 85%;    
}  